# deps
node_modules/
package-lock.json

# build
dist/
.vite/

# native
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/release/
ios/App/build/
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/

# env
.env
.env.local

# editor
.DS_Store
.idea/
.vscode/
*.iml
